.bnr {
    padding-top: 47.47%;
    background-color: var(--bg-clr-2);
}

.bnr button {
    padding: 24px;
}

.bnr .dots {
    bottom: 12px;
    gap: 6px;
}

.bnr .dots span {
    background-color: var(--bg-clr-2);
    opacity: .6;
}

.bnr .dots .actv {
    opacity: 1;
}

#bnr-lst, 
.dots > .dot > span {
    transition: all .3s;
}