.store {
    max-width: 396px;
    background-color: var(--bg-clr-2);
    padding: 14px;
}

.store .prds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6px;
}

.store .prds .prd {
    padding-top: 100%;
}

.store .prds .prd span {
    border-radius: 12px;
}

.store .hdr .rght .sbcrb {
    border: 1px solid var(--bg-clr-4);
    border-radius: 5px;
    padding: 2px 4px;
}

.store .hdr .rght .sbcrb h6 {
    color: var(--txt-clr-3);
}

.store .hdr .lft .pstr span {
    border-radius: 5px;
}

.store .hdr .lft .inf .btm small {
    color: var(--txt-clr-2);
}

.store .hdr .lft {
    gap: 4.5px;
}

.store .hdr .lft .inf {
    gap: 1px;
}

.store hr {
    margin: 6px 0;
    height: 1px;
}