{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="wdth-cvr wrp">
    <div style="gap: 12px; padding: 12px 0;" class="ptn-rlv wdth-cvr flx-ctr flx-tp">
        <div class="flx-cvr flx-ctr">
            <div class="wdth-cvr flx-drt-cln">
                <div class="wdth-cvr flx-ctr">
                    <div class="pfp bdr-rds-2 wdth-cvr flx-ctr flx-lft">
                        <div class="flx-ctr">
                            <span style="--fgr-sz: 160px;" class="bdr-rds-1 ovrfl-hdn fgr">
                                <img src="{{store_detail.photo.url}}">
                            </span>
                        </div>
                        <div class="flx-ctr">
                            <div style="gap: 2px;" class="inf flx-drt-cln flx-tp">
                                <div style="height: 38px;" class="nm flx-ctr flx-lft">
                                    <h2>{{store_detail.title}}</h2>
                                </div>
                                <div style="height: 16px;" class="eml flx-ctr flx-lft">
                                    <span>
                                        <div class="flx-ctr">
                                            <div class="flx-ctr">
                                                <span style="--fgr-sz: 16px;" class="fgr">
                                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_32_2087)">
                                                            <path
                                                                d="M8.00016 12.2633L12.1202 14.75L11.0268 10.0633L14.6668 6.90998L9.8735 6.50331L8.00016 2.08331L6.12683 6.50331L1.3335 6.90998L4.9735 10.0633L3.88016 14.75L8.00016 12.2633Z"
                                                                fill="#E85749" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_32_2087">
                                                                <rect width="16" height="16" fill="white"
                                                                    transform="translate(0 0.75)" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="flx-ctr">
                                                <span style="--fgr-sz: 16px;" class="fgr">
                                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_32_2087)">
                                                            <path
                                                                d="M8.00016 12.2633L12.1202 14.75L11.0268 10.0633L14.6668 6.90998L9.8735 6.50331L8.00016 2.08331L6.12683 6.50331L1.3335 6.90998L4.9735 10.0633L3.88016 14.75L8.00016 12.2633Z"
                                                                fill="#E85749" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_32_2087">
                                                                <rect width="16" height="16" fill="white"
                                                                    transform="translate(0 0.75)" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="flx-ctr">
                                                <span style="--fgr-sz: 16px;" class="fgr">
                                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_32_2087)">
                                                            <path
                                                                d="M8.00016 12.2633L12.1202 14.75L11.0268 10.0633L14.6668 6.90998L9.8735 6.50331L8.00016 2.08331L6.12683 6.50331L1.3335 6.90998L4.9735 10.0633L3.88016 14.75L8.00016 12.2633Z"
                                                                fill="#E85749" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_32_2087">
                                                                <rect width="16" height="16" fill="white"
                                                                    transform="translate(0 0.75)" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="flx-ctr">
                                                <span style="--fgr-sz: 16px;" class="fgr">
                                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_32_2087)">
                                                            <path
                                                                d="M8.00016 12.2633L12.1202 14.75L11.0268 10.0633L14.6668 6.90998L9.8735 6.50331L8.00016 2.08331L6.12683 6.50331L1.3335 6.90998L4.9735 10.0633L3.88016 14.75L8.00016 12.2633Z"
                                                                fill="#E85749" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_32_2087">
                                                                <rect width="16" height="16" fill="white"
                                                                    transform="translate(0 0.75)" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="flx-ctr">
                                                <span style="--fgr-sz: 16px;" class="fgr">
                                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_32_2087)">
                                                            <path
                                                                d="M8.00016 12.2633L12.1202 14.75L11.0268 10.0633L14.6668 6.90998L9.8735 6.50331L8.00016 2.08331L6.12683 6.50331L1.3335 6.90998L4.9735 10.0633L3.88016 14.75L8.00016 12.2633Z"
                                                                fill="#E85749" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_32_2087">
                                                                <rect width="16" height="16" fill="white"
                                                                    transform="translate(0 0.75)" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </span>
                                            </div>
                                            &nbsp;
                                        </div>
                                        {{store_detail.rating}}
                                    </span>
                                </div>
                                <div style="height: 16px; margin: 0 0 4px 0;" class="phn flx-ctr flx-lft">
                                    <span>
                                        {{store_detail.user_profile_favorite_store.all|count}} subscribers
                                        <span style="font-size: 8px;">&nbsp;•&nbsp;</span>
                                        {{store_orders_count}} orders
                                    </span>
                                </div>
                                <div class="flx-ctr">
                                    <button type="button" class="sbscrb flx-ctr bdr-bx">
                                        <div style="height: 16px;" class="flx-ctr">
                                            <span>Subscribe</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if store_detail.product_store.all|count > 0 %}
                <div class="wdth-cvr pdng-1">
                    <div class="wdth-cvr flx-ctr">
                        <div class="lst-gp wdth-cvr flx-drt-cln">
                            <div style="gap: 32px;" class="rcm-prdct-lst wdth-cvr flx-spc-btwn">
                                {% for product in store_detail.product_store.all %}
                                <div class="wdth-cvr flx-ctr">
                                    {% include "product-4.html" %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}