{% load my_tags %}
<div class="ordr bdr-rds-1 wdth-cvr flx-drt-cln">
    <div class="hdr wrp bdr-bx wdth-cvr flx-ctr flx-lft">
        <div class="flx-ctr">
            <h4>ID: {{order.custom_id}}</h4>
        </div>
    </div>
    <div class="wrp ln wdth-cvr flx-ctr">
        <hr class="wdth-cvr">
    </div>
    <div class="wdth-cvr wrp flx-ctr">
        <div style="gap: 12px;" class="wdth-cvr flx-drt-cln">
            <div class="wdth-cvr flx-ctr">
                <div class="inf wdth-cvr flx-cvr flx-lft flx-tp">
                    <div class="lft flx-ctr flx-lft">
                        <span>Status:</span>
                    </div>
                    <div class="rhgt flx-ctr flx-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>{{order.status}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% if order.order_cancel.first %}
            <div class="wdth-cvr flx-ctr">
                <div class="inf wdth-cvr flx-cvr flx-lft flx-tp">
                    <div class="lft flx-ctr flx-lft">
                        <span>Cancelled date:</span>
                    </div>
                    <div class="rhgt flx-ctr flx-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>{{order.order_cancel.first.created|date:"l, F d, Y"}} at {{order.order_cancel.first.created|date:"H:i"}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if order.is_delivered %}
            <div class="wdth-cvr flx-ctr">
                <div class="inf wdth-cvr flx-cvr flx-lft flx-tp">
                    <div class="lft flx-ctr flx-lft">
                        <span>Delivery date:</span>
                    </div>
                    <div class="rhgt flx-ctr flx-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>{{order.delivery_date|date:"l, F d, Y"}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="wdth-cvr flx-ctr">
                <div class="inf wdth-cvr flx-cvr flx-lft flx-tp">
                    <div class="lft flx-ctr flx-lft">
                        <span>Delivery address:</span>
                    </div>
                    <div class="rhgt flx-ctr flx-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>{{order.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wdth-cvr flx-ctr">
                <div class="inf wdth-cvr flx-cvr flx-lft flx-tp">
                    <div class="lft flx-ctr flx-lft">
                        <span>Order date:</span>
                    </div>
                    <div class="rhgt flx-ctr flx-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>{{order.created|date:"l, F d, Y"}} at {{order.created|date:"H:i"}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% if order.total %}
            <div class="wdth-cvr flx-ctr">
                <div class="inf wdth-cvr flx-cvr flx-lft flx-tp">
                    <div class="lft flx-ctr flx-lft">
                        <span>Order amount:</span>
                    </div>
                    <div class="rhgt flx-ctr flx-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>{{order.total}} USD</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="wrp ln wdth-cvr flx-ctr">
        <hr class="wdth-cvr">
    </div>
    <div class="wdth-cvr flx-ctr">
        <button type="button" class="wdth-cvr flx-ctr wrp" id="btn-shw-all-ordr-prdcts-inf-{{order.id}}">
            <div class="wdth-cvr flx-spc-btwn">
                <div class="flx-ctr">
                    <span>
                        {% with count=order.order_product.all|count %}
                        {{count}} product{% if count > 1 %}s{% endif %}
                        {% endwith %}
                    </span>
                </div>
                <div class="flx-ctr">
                    <span style="--fgr-sz: 24px;" class="fgr">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" id="btn-shw-all-ordr-prdcts-inf-svg-{{order.id}}"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.78 6.71997C16.9204 6.8606 16.9993 7.05122 16.9993 7.24997C16.9993 7.44872 16.9204 7.63935 16.78 7.77997L10.53 14.03C10.3894 14.1704 10.1987 14.2493 10 14.2493C9.80125 14.2493 9.61062 14.1704 9.47 14.03L3.222 7.78197C3.08952 7.6398 3.01739 7.45175 3.02082 7.25745C3.02425 7.06315 3.10296 6.87777 3.24038 6.74035C3.37779 6.60294 3.56317 6.52423 3.75748 6.5208C3.95178 6.51737 4.13982 6.58949 4.282 6.72197L10 12.439L15.72 6.71897C15.8606 6.57852 16.0512 6.49963 16.25 6.49963C16.4487 6.49963 16.6394 6.57952 16.78 6.71997Z"
                                fill="black" />
                        </svg>
                    </span>
                </div>
            </div>
        </button>
        <script>
            $(document).ready(function () {
                $("#btn-shw-all-ordr-prdcts-inf-{{order.id}}").click(function() {
                    var body = $("#ordr-prdcts-inf-{{order.id}}");
                    var svg = $("#btn-shw-all-ordr-prdcts-inf-svg-{{order.id}}");
                    if (body.hasClass("nn")) {
                        body.removeClass("nn");
                        svg.css("transform", "rotate(180deg)");
                    }
                    else {
                        body.addClass("nn");
                        svg.removeAttr("style");
                    }
                });
            });
        </script>
    </div>
    <div class="wdth-cvr wrp flx-ctr nn" id="ordr-prdcts-inf-{{order.id}}">
        <ul class="wdth-cvr flx-drt-cln">
            {% for order_product in order.order_product.all %}
            {% with product=order_product.product %}
            <li class="wdth-cvr flx-ctr">
                {% include "product-5.html" %}
            </li>
            {% endwith %}
            {% if order_product != order.order_product.last %}
            <div class="ln wdth-cvr flx-ctr">
                <hr class="wdth-cvr">
            </div>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>