{% load my_tags %}
<a href="{% url 'details:product' review.product.id %}" style="padding: 2px;" class="wdth-cvr flx-drt-cln">
    <div class="wdth-cvr flx-spc-btwn">
        <div class="flx-ctr">
            <div class="flx-drt-cln flx-tp">
                <div style="margin-bottom: 2px;" class="flx-ctr">
                    <div class="flx-ctr">
                        <span style="--fgr-sz: 20px;" class="fgr">
                            <svg width="20" height="19" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_32_1313)">
                                    <path
                                        d="M9.5 12.9525L14.135 15.75L12.905 10.4775L17 6.93L11.6075 6.4725L9.5 1.5L7.3925 6.4725L2 6.93L6.095 10.4775L4.865 15.75L9.5 12.9525Z"
                                        fill="#E85749" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_32_1313">
                                        <rect width="18" height="18" fill="white"
                                            transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </div>
                    <div class="flx-ctr">
                        <span style="--fgr-sz: 20px;" class="fgr">
                            <svg width="20" height="19" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_32_1313)">
                                    <path
                                        d="M9.5 12.9525L14.135 15.75L12.905 10.4775L17 6.93L11.6075 6.4725L9.5 1.5L7.3925 6.4725L2 6.93L6.095 10.4775L4.865 15.75L9.5 12.9525Z"
                                        fill="#E85749" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_32_1313">
                                        <rect width="18" height="18" fill="white"
                                            transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </div>
                    <div class="flx-ctr">
                        <span style="--fgr-sz: 20px;" class="fgr">
                            <svg width="20" height="19" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_32_1313)">
                                    <path
                                        d="M9.5 12.9525L14.135 15.75L12.905 10.4775L17 6.93L11.6075 6.4725L9.5 1.5L7.3925 6.4725L2 6.93L6.095 10.4775L4.865 15.75L9.5 12.9525Z"
                                        fill="#E85749" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_32_1313">
                                        <rect width="18" height="18" fill="white"
                                            transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </div>
                    <div class="flx-ctr">
                        <span style="--fgr-sz: 20px;" class="fgr">
                            <svg width="20" height="19" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_32_1313)">
                                    <path
                                        d="M9.5 12.9525L14.135 15.75L12.905 10.4775L17 6.93L11.6075 6.4725L9.5 1.5L7.3925 6.4725L2 6.93L6.095 10.4775L4.865 15.75L9.5 12.9525Z"
                                        fill="#E85749" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_32_1313">
                                        <rect width="18" height="18" fill="white"
                                            transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </div>
                    <div class="flx-ctr">
                        <span style="--fgr-sz: 20px;" class="fgr">
                            <svg width="20" height="19" viewBox="0 0 19 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_32_1313)">
                                    <path
                                        d="M9.5 12.9525L14.135 15.75L12.905 10.4775L17 6.93L11.6075 6.4725L9.5 1.5L7.3925 6.4725L2 6.93L6.095 10.4775L4.865 15.75L9.5 12.9525Z"
                                        fill="#E85749" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_32_1313">
                                        <rect width="18" height="18" fill="white"
                                            transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="flx-ctr">
                    <span style="--txt-ln-nbr: 2;" class="txt-ln">{{review.comment}}</span>
                </div>
            </div>
        </div>
        <div class="flx-ctr"></div>
    </div>
    <div class="prdct bdr-bx wdth-cvr flx-spc-btwn" id="btn-crt-slct-470dbe66-5123-4c1c-ab3b-3d1f78a4b8d8">
        <div class="lft flx-ctr">
            <div class="flx-ctr">
                <span style="--fgr-sz: 120px;" class="ovrfl-hdn bdr-rds-1 fgr">
                    <img src="{{review.product.product_poster.first.photo.url}}">
                </span>
            </div>
        </div>
        <div class="md flx-ctr flx-cvr flx-tp">
            <div class="cvr flx-ctr">
                <div style="padding: 2px 0;" class="cvr flx-drt-cln flx-spc-btwn">
                    <div class="flx-ctr wdth-cvr flx-lft">
                        <div class="flx-ctr">
                            <span>Iphone 15 pro max</span>
                        </div>
                    </div>
                    <div class="wdth-cvr flx-ctr">
                        <div class="wdth-cvr flx-spc-btwn flx-tp">
                            <object class="str flx-ctr">
                                <h5>Store:&nbsp;<a href="{% url 'details:store' review.product.store.id %}"
                                        class="hvr-undrln flx-ctr">Apple</a>
                                </h5>
                            </object>
                            <div style="height: 36px;" class="flx-ctr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>