{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="wdth-cvr wrp">
    <div style="gap: 12px; padding: 12px 0;" class="ptn-rlv wdth-cvr flx-ctr flx-tp">
        <div class="flx-cvr flx-ctr">
            <div class="wdth-cvr flx-drt-cln">
                <div class="wdth-cvr">
                    <div class="wdth-cvr flx-ctr">
                        <div class="wdth-cvr flx-drt-cln">
                            <div class="wdth-cvr flx-ctr flx-lft">
                                <h2>Orders</h2>
                            </div>
                            <div style="margin: 8px 0 22px 0;" class="prdct-sctns wdth-cvr flx-ctr">
                                <div class="flx-ctr">
                                    <div class="flx-cvr">
                                        <a href="{% url 'all-reviews' %}" class="bdr-bx ptn-rlv flx-ctr">
                                            <h4>All</h4>
                                        </a>
                                    </div>
                                    <div class="flx-cvr">
                                        <a href="{% url 'my-reviews' %}" class="actv bdr-bx ptn-rlv flx-ctr">
                                            <h4>Mine</h4>
                                        </a>
                                    </div>
                                    <div class="flx-cvr">
                                        <a href="{% url 'liked-reviews' %}" class="bdr-bx ptn-rlv flx-ctr">
                                            <h4>Liked</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if user.is_authenticated and own_reviews.all|count > 0 %}
                            <div class="crt wdth-cvr bdr-bx bdr-rds-1 flx-ctr">
                                <div class="wdth-cvr flx-drt-cln">
                                    {% for review in own_reviews %}
                                    <li class="wdth-cvr flx-ctr" id="crt-470dbe66-5123-4c1c-ab3b-3d1f78a4b8d8">
                                        {% include "review-2.html" %}
                                    </li>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                            <div style="padding: 104px 124px;" class="crt-empt bdr-bx wdth-cvr bdr-rds-1 flx-drt-cln">
                                <div class="tlt flx-ctr">
                                    <h3>It's empty here</h3>
                                </div>
                                <div class="txt flx-ctr">
                                    <span>You haven’t written any reviews yet! Share your thoughts on products you've
                                        purchased to help others make informed decisions.</span>
                                </div>
                                <div class="flx-ctr">
                                    <a href="/" class="btn-hm flx-ctr bdr-rds-3 bdr-bx">
                                        <h6>To the main</h6>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="max-width: 328px; top: calc(80px + 12px);" class="ptn-stk lft-cvr wdth-cvr flx-ctr">
            {% include "navbar.html" %}
        </div>
    </div>
</div>
{% endblock %}