.ordr {
    background-color: var(--bg-clr-2);
}

.ordr .wrp {
    padding: 14px;
}

.ordr .ln {
    padding-top: 0;
    padding-bottom: 0;
}

.ordr .ln hr {
    height: 1px;
}

.ordr .inf {
    gap: 16px;
}

.ordr .inf .lft {
    width: 128px;
}

.ordr .inf .lft span {
    color: var(--txt-clr-2);
}